.wizard {
  padding: 20px 40px;
  border-radius: 16px;
  border: 1px solid #ced4da;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  min-height: 530px;
}

.wizard-form-container {
  width: 70%;
}

.wizard-form {
  width: 100%;
  border-radius: 16px;
  background: white;
  box-shadow: 0 3px 9px 3px #82828215;
  padding: 20px;
  margin-bottom: 20px;
}

.wizard-form h3 {
  text-align: center;
  margin-bottom: 30px;
}

.wizard-form input {
  margin-bottom: 10px;
}

.wizard-control {
  background: white;
  padding: 20px;
  max-width: 290px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.wizard-control::-webkit-scrollbar {
  width: 5px;
}

.wizard-control::-webkit-scrollbar-thumb {
  background: #ced4da;
}

.wizard-control h5 {
  font-size: 20px !important;
}

.wizard-control-texts,
.wizard-control-checks,
.wizard-control-colors {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-bottom: 1px solid #ced4da;
}

.wizard-control-colors {
  border-bottom: none;
}

.wizard-control-texts label input {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #000;
}

.wizard-control-checks label {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.wizard-control-colors label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wizard-control-colors label input {
  background: none;
  border: none;
  outline: none;
  height: 18px;
  width: 48px;
}

.contact-method {
  padding-block: 20px;
}

.contact-method-options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-block: 10px;
}

.contact-method-options span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iframe_modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transform: scale(0);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.iframe_modal.active {
  transform: scale(1);
  pointer-events: all;
  opacity: 1;
}

.iframe_modal__backdrop {
  position: absolute;
  inset: 0;
  background: #000000d1;
  z-index: -1;
}

.iframe_modal__content {
  position: relative;
  max-width: 500px;
  background: white;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  border-radius: var(--box-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iframe_modal__code {
  background: black;
  color: white;
  font-family: monospace;
  padding: 10px;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.iframe_modal__code::-webkit-scrollbar {
  width: 5px;
}
.iframe_modal__close-btn {
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: ghostwhite;
  border-radius: 15px;
  cursor: pointer;
}

.iframe_modal__close-btn:hover {
  color: red;
}
