.FormWizard {
  padding-top: 5vh;
  position: relative;
}

.FormWizard h2 {
  text-align: center;
}

.formspace {
  width: 100%;
  padding: 20px;
  border: 1px solid lightgrey;
  margin-block: 20px;
  text-align: center;
  border-radius: 10px;
}

.formInputs {
  width: 50%;
  margin-inline: auto;
  text-align: left;
}

.formInputs input {
  margin-bottom: 20px;
}

.formSettings {
  width: 500px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  right: -100%;
  top: 0;
  padding: 50px;
  background: var(--accent-clr);
  color: white;
  transition: 0.3s linear;
}

.formSettings.active {
  right: 0;
}

.formSettings_checkboxes {
  margin-top: 20px;
}

.formSettings_checkboxes label {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
  max-width: max-content;
}

.formSettings_checkboxes label input[type="color"] {
  background: transparent;
  border: none;
  cursor: pointer;
}

.formSettings_checkboxes label p,
.formSettings_checkboxes p {
  color: white !important;
}

.toggleSettingsTab {
  width: 40px;
  height: 40px;
  background: var(--accent-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
  border: 2px solid var(--bg-clr-blue);
  border-radius: 5px;
}
