.auth {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  padding-block: 4vh;
}

.auth-left {
  width: 38%;
}

.auth-form,
.auth-form form {
  width: 100%;
  padding: 20px;
  border-radius: var(--box-radius);
  background: var(--neutral-clr-grey);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form form {
  margin-top: 0;
  padding: 0;
}

.auth-right {
  width: 45%;
  background: var(--pry-clr);
  min-height: 100%;
  border-radius: var(--box-radius);
  padding: 28px;
}

.auth-right__logo {
  width: 228px;
  overflow: hidden;
}

.auth-right__logo img {
  width: 100%;
}

.auth-right__content {
  margin-top: 120px;
  color: white;
}

.auth-right__content p {
  border-radius: var(--input-radius);
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  background: var(--accent-clr);
  margin-top: 20px;
}

.forgot-pass {
  color: var(--pry-clr);
  margin-top: 10px;
  cursor: pointer;
  font-weight: 400;
}
