.home {
  background: #fafafa;
  padding-inline: 2vw;
}

.home-bg {
  background-image: url("../../assets/images/herobg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
