.forgotten-password {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.forgotten-password__back_icon {
  font-size: 42px;
  cursor: pointer;
}

.forgot-password__form form input {
  margin-bottom: 30px;
}
