header {
  width: 100%;
  padding: 20px 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  flex-basis: 30%;
  overflow: hidden;
}

header .logo img {
  max-width: 205px;
}

header .logo img {
  width: 100%;
}

header nav {
  flex-basis: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
}

header nav ul {
  flex-basis: 60%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #545151;
  font-size: 16px;
}

header nav .auth-links {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

header .auth-links button {
  border-radius: 8px;
  padding: 10px 30px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
}

header .auth-links button:first-child {
  background: transparent;
}

header .auth-links button:first-child:hover {
  background: lightgray;
}

header .auth-links button:last-child {
  background: var(--pry-clr);
  color: white;
}

header .burger {
  font-size: 30px;
  display: none;
  cursor: pointer;
  z-index: 1002;
}

.nav-backdrop {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

@media screen and (max-width: 980px) {
  header .burger {
    display: block;
  }

  header nav {
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    background: white;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: 0.3s;
  }

  header nav.active {
    transform: scaleY(1);
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  header nav ul li a {
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  header nav .auth-links {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  header nav .auth-links button {
    width: 100%;
  }
}
