.guest_lead {
  padding-inline: 4vw;
  max-width: 1440px;
  margin-inline: auto;
}

.lead__export-btn {
  margin-left: auto;
}

.lead__export-btn button {
  flex-direction: row-reverse !important;
}

span.tooltip {
  display: flex;
  max-width: max-content;
  padding: 0 !important;
  background: none !important;
  color: var(--text-clr) !important;
  font-size: 20px !important;
}

.lead-tooltips {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px 0;
  max-width: max-content;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.lead-toolip {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.lead-toolip:hover {
  background: var(--neutral-clr-grey);
}

.lead-toolip:hover span {
  transform: scale(1.2);
  color: black !important;
}

.lead-toolip span {
  display: flex;
  padding: 0 !important;
  font-size: 20px !important;
  background: none !important;
  color: var(--text-clr) !important;
  transition: 0.2s !important;
}

.leads__center {
  align-items: stretch;
}

.guest_emptyState {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  gap: 20px;
}
