.notifications {
  width: 100%;
}

.notifications-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.mark-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notifications-section {
  margin-top: 20px;
}

.notification {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 3px 3px 9px 0 #82828215;
  margin-bottom: 10px;
}

.notification-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #d9d9d9;
}
