.leads {
  width: 100%;
}

.leads__top .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leads__center {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.leads__center .sort,
.search-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-filter-group {
  display: flex;
  align-items: center;
}

.search-options select,
.sort select {
  padding: 10px;
  height: 44px;
  border-radius: var(--input-radius);
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #e5e0eb;
  outline: none;
  cursor: pointer;
}

.search-options select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-input {
  border-left: 2px solid var(--bg-clr-blue);
  height: 44px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: var(--input-radius);
  border: 1px solid #e5e0eb;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-input input {
  padding: 10px;
  width: 350px;
  border: none;
  outline: none;
  font-size: inherit;
}

.leads__center button {
  height: 44px !important;
  padding-inline: 20px !important;
}

.btn-group {
  display: flex !important;
  align-items: center;
  gap: 20px;
}

.copyCodeTooltipBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent !important;
}
