.testimonials {
  width: min(900px, 100%);
  margin-inline: auto;
  margin-top: 100px;
}

.testimonials h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  text-wrap: balance;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.testimonial-left {
  flex-basis: 60%;
}

.testimonial-right {
  flex-basis: 40%;
  position: relative;
}

.testionial-bd {
  width: 200px;
  height: 200px;
  background: var(--pry-clr);
  position: absolute;
  bottom: -8px;
  right: -10px;
}

.testimonial-img {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  background: transparent;
}

.testimonial-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-texts {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 30px;
}

.testimonial-texts h4 {
  margin-top: 30px;
}

.testimonial-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial-btns button {
  display: flex;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.testimonial-btns h2 {
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 970px) {
  .testimonials {
    padding-inline: 4vw;
  }

  .testimonials h1 {
    font-weight: 600;
    font-size: 30px;
  }

  .testimonial {
    flex-direction: column-reverse;
    text-align: center;
  }

  .testimonial-btns {
    justify-content: center;
  }
}
