* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --pry-clr: rgba(8, 48, 229, 1);
  --accent-clr: rgba(30, 150, 252, 1);
  --neutral-clr-grey: rgba(248, 248, 248, 1);
  --input-radius: 6px;
  --box-radius: 24px;
  --neutral-clr-light-grey: rgba(206, 212, 218, 1);
  --neutral-clr-dark: rgba(47, 47, 47, 1);
  --bg-clr-blue: rgba(235, 238, 251, 1);
  --neutral-clr: rgba(151, 151, 151, 1);
  --text-clr: rgba(84, 81, 81, 1);
  --yellow-clr: #f2c94c;
  --green-clr: #6fcf97;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-clr-blue);
  color: var(--text-clr);
}

a {
  font-family: inherit !important;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: min(1440px, 100vw);
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 20px;
}

.h-300 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.h-200 {
  font-size: 36px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}

.h-100 {
  font-size: 28px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.h-50 {
  font-size: 24px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.h-50-alt {
  font-size: 24px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}

a {
  color: var(--pry-clr);
  font-weight: 700;
  font-family: serif;
}

select {
  outline: none !important;
  cursor: pointer;
}

.text-body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-clr);
}

.text-small {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-clr);
}

.text-center {
  text-align: center !important;
}

.text-link {
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--pry-clr);
  font-size: inherit;
}

.text-link-alt {
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--accent-clr);
  font-size: inherit;
}

.text-bold {
  font-weight: 700 !important;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.leads__table {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 3px 9px 0 #82828220;
}

.leads__table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 100px;
}

.leads__table table thead tr th {
  text-align: left;
  font-weight: 700;
  padding-inline: 12px;
  padding-block: 10px 20px;
  border-bottom: 1px solid var(--neutral-clr-light-grey);
  white-space: no-wrap;
}

.leads__table table tbody tr {
  cursor: pointer;
  transition: 0.2s;
}

.leads__table table tbody tr:hover {
  background: var(--neutral-clr-grey);
}

.leads__table table tbody tr td {
  padding-block: 10px;
  padding-inline: 12px;
  white-space: no-wrap;
}

.leads__table table tbody tr td button {
  padding: 4px 10px;
  height: max-content !important;
  font-size: 14px;
  width: max-content !important;
  border-radius: 20px;
  color: var(--pry-clr);
  border: 1px solid var(--pry-clr);
  background: transparent;
  margin: 0;
  transition: 0.2s;
  cursor: pointer;
}

.leads__table table tbody tr td button:hover {
  background: var(--pry-clr);
  border-color: transparent;
  color: white;
}

.cards {
  width: 94%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-block: 20px;
}

.lead-delete-icon:hover {
  color: red !important;
}

.rhap_container {
  width: 100%;
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.rhap_controls-section {
  display: block;
  max-width: max-content;
  margin-right: 0 !important;
}

.rhap_main-controls button {
  width: 48px;
  height: 48px;
  font-size: 48px;
  color: #798ce1;
}

.rhap_progress-indicator {
  background: var(--pry-clr) !important;
  width: 13px !important;
  height: 13px !important;
  top: -5px !important;
  border-radius: 50% !important;
  box-shadow: none !important;
}

.rhap_progress-bar {
  height: 2px !important;
}

.rhap_progress-filled {
  background: var(--pry-clr) !important;
}

.rhap_time {
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
