* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --pry-clr: rgba(8, 48, 229, 1);
  --accent-clr: rgba(30, 150, 252, 1);
  --neutral-clr-grey: rgba(248, 248, 248, 1);
  --input-radius: 6px;
  --box-radius: 24px;
  --neutral-clr-light-grey: rgba(206, 212, 218, 1);
  --neutral-clr-dark: rgba(47, 47, 47, 1);
}

body {
  font-family: "Inter", sans-serif;
}

a {
  font-family: inherit !important;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: min(1440px, 100vw);
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 4vw;
}

.h-300 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.h-200 {
  font-size: 36px;
  font-weight: 600;
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  color: var(--pry-clr);
  font-weight: 700;
  font-family: serif;
}

.text-body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--neutral-clr-dark);
}

.text-center {
  text-align: center !important;
}

.text-link {
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  color: VAR(--pry-clr);
  font-size: 18px;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
