.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.modal__box {
  width: 600px;
  padding: 30px;
  background: white;
  border-radius: var(--box-radius);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.modal__box img {
  width: 100px;
}

.otp-input {
  display: flex;
  gap: 10px;
}

.otp-input input {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.otp-input label {
  border-radius: var(--input-radius);
  border: 2px solid rgba(206, 212, 218, 1);
  width: 66px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.otp-input label.filled {
  border-color: var(--yellow-clr);
  transform: scale(1.1);
}
