.offer {
  margin-top: 50px;
  width: min(1200px, 100%);
  margin-inline: auto;
  border-radius: 16px;
  border: 1px solid #ced4da;
  padding: 50px;
  background-image: url("../../assets//images/offerbg.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.offer .offer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer .offer-top p {
  max-width: 300px;
}

.offer .offer-cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.offer-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  padding: 30px 20px;
  background: #fdfdfd;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
}

.offer-card img {
  margin-bottom: 30px;
  width: 70px;
}

@media screen and (max-width: 970px) {
  .offer {
    padding-inline: 4vw;
    padding-bottom: 20px;
  }

  .offer .offer-top {
    flex-direction: column;
    justify-content: center;
  }

  .offer .offer-top p {
    max-width: none;
    margin-top: 10px;
  }

  .offer .offer-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
